*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B262C;
    color: #BBE1FA;
    padding: 10px;
    text-align: center;
}
.main-wrap{
    display: grid;
    place-items: center;
    height:100vh;
}
form{
    background-color: #0F4C75;
    width: 90%;
    padding: 30px 20px;
    border-radius: 10px;
}
.upper{
    display: flex;
    align-items: center;
}
.events{
    width: 500px;
    min-width: 100px;
    display: flex;
    align-items: center;
}
ul{
    width: 100%;
    list-style-type: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #282A3A;
    color: white;
    border-radius: 10px;
}
.flex{
    width: 100%;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3282B8;
    margin-bottom: 5px;
    font-size: 1.4em;
}
.list--name{
    margin-right: auto;
    margin-left: 5px;
    cursor: pointer;
}
input{
    width: 60%;
    font-size: 1.2em;
    padding-left: 3px;
}
/* .task-counter{
    margin-left: auto;
} */
button{
    cursor: pointer;
}
.completion{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
.checked{
    color: rgba(0, 0, 0, 0.479);
    text-decoration: line-through;
}
.delete-btn{
    font-size: .9em;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: #3282B8
}

.upper-btn{
    background-color: transparent;
    border: 1px solid #3282B8;
    border-radius: 5px;
    padding: 6px 10px;
    color: white;
    font-size: 1.1em;
    margin: 0 5px;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.upper-btn:hover{
    background-color: #1B262C;
    border: 1px solid #1B262C;
}
.selector{
    margin-right: 10px;
    margin-left: auto;
    width: 15%;
    background-color: #1B262C;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    text-transform: uppercase;
}