*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B262C;
    color: #BBE1FA;
    padding: 10px;
    text-align: center;
}
.main-wrap{
    display: grid;
    place-items: center;
    height: calc(993px - 100vh);
}
form{
    background-color: #0F4C75;
    width: 90%;
    padding: 30px 20px;
    border-radius: 10px;
}
.upper{
    display: flex;
    align-items: center;
}
.events{
    width: 500px;
    min-width: 100px;
    display: flex;
    align-items: center;
}
ul{
    width: 100%;
    list-style-type: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #282A3A;
    color: white;
    border-radius: 10px;
}
.flex{
    width: 100%;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3282B8;
    margin-bottom: 5px;
    font-size: 1.4em;
}
.list--name{
    margin-right: auto;
    margin-left: 5px;
    cursor: pointer;
}
input{
    width: 60%;
    font-size: 1.2em;
    padding-left: 3px;
}
.task-counter{
    margin-right: auto;
}
.counts{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.counts > p{
    text-align: left;
}
button{
    cursor: pointer;
}
.completion{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
.checked{
    color: rgba(0, 0, 0, 0.479);
    text-decoration: line-through;
}
.delete-btn{
    font-size: .9em;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: #3282B8
}

.upper-btn{
    background-color: transparent;
    border: 1px solid #3282B8;
    border-radius: 5px;
    padding: 6px 10px;
    color: white;
    font-size: 1.1em;
    margin: 0 5px;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.selector{
    margin-left: auto;
    width: 20%;
    background-color: #1B262C;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    text-transform: uppercase;
}

@media all and (max-width: 600px){
    .events{
        width: 250px
    }
    form{
        width: 100%;
        padding: 30px 10px;
    }
    .list-item{
        font-size: 1em;
    }
    .upper-btn{
        font-size: .5em;
    }
    .selector{
        font-size: .5em;
    }
    input{
        font-size: 1em;
    }
    .time{
        font-size: .5em;
    }
    .completion{
        width: 10px;
        height: 10px;
    }
}
@media all and (min-width: 800px){
    .upper-btn:hover{
        background-color: #1B262C;
        border: 1px solid #1B262C;
    }
}